.task {
  list-style-type: none;
  margin: 16px auto;
  padding: 16px;
  background-color: rgb(237, 237, 237);
  border-radius: 7px;
  max-width: 880px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task:hover {
  transition: .2s;
  box-shadow: 6px 6px 0px #d7d7d7;
}

.task__box {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid rgb(143, 143, 143);
}
