.taskDetails {
  list-style-type: none;
  margin: 16px auto;
  padding: 16px;
  border-radius: 7px;
  max-width: 880px;
}

.taskDetails__linkLogo {
  width: 38px;
  height: 38px;
  align-self: flex-start;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}

.taskDetails__text {
  margin-left: 5px;
  align-self: center;
  font-size: 16px;
}
